@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BankingSystems.Models.Account

@if (Model is null)
{
    <p>No Account are found</p>
}
else
{
    <h1>Edit Accounts</h1>
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="number" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="form-label">AccountNo</label>
            <input type="text" class="form-control" asp-for="AccountNo" />
        </div>

        <div class="mt-3">
            <label class="form-label">IFSCCode</label>
            <input type="text" class="form-control" asp-for="IFSCCode" />
        </div>

        <div class="mt-3">
            <label class="form-label">Balance</label>
            <input type="number" class="form-control" asp-for="Balance" />
        </div>

        <div class="mt-3">
            <label class="form-label">NoOfTransactions</label>
            <input type="number" class="form-control" asp-for="NoOfTransactions" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-danger mt-1" asp-action="Delete" asp-controller="Account">Delete</button>
        </div>
    </form>
    }
