@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BankingSystems.Models.AddLoanTableViewModel
<style>
    form {
        justify-content: center;
        background-color: white;
        padding: 20px;
    }


    h1 {
        text-align: center
    }

    body {
        background-color: aliceblue;
    }


    button {
        cursor: pointer;
    }
</style>


<form method="post">
    <h1>Add LoanTables</h1>
    <div class="mt-3">
        <label class="form-label">TypeOfLoan</label>
        <input type=" text" class="form-control" asp-for="TypeOfLoan" required />
    </div>

    <div class="mt-3">
        <label class="form-label" >LoanNumber</label>
        <input type="number" class="form-control" asp-for="LoanNumber" required />
    </div>

    <div class="mt-3">
        <label class="form-label">Interest</label>
        <input type="number" class="form-control" asp-for="Interest" required />
    </div>

    <div class="mt-3">
        <label class="form-label">AmountTaken</label>
        <input type="number" class="form-control" asp-for="AmountTaken" required />
    </div>

    <div class="mt-3">
        <label class="form-label">PaidOff</label>
        <input type="number" class="form-control" asp-for="PaidOff" required />
    </div>

    <div class="mt-3">
        <label class="form-label">BranchName</label>
        <input type="text" class="form-control" asp-for="BranchName" required />
    </div>
    <br />
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>


