@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BankingSystems.Models.LoanTable
<style>
    form {
        justify-content: center;
        background-color: white;
        padding: 20px;
    }


    h1 {
        text-align: center
    }

    body {
        background-color: aliceblue;
    }


    button {
        cursor: pointer;
    }
</style>

@if (Model is null)
{
    <p>No LoanTables are found</p>
}
else
{
    <form method="post">
        <h1>Edit LoanTables</h1>
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="number" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">TypeOfLoan</label>
            <input type=" text" class="form-control" asp-for="TypeOfLoan" />
        </div>

        <div class="mt-3">
            <label class="form-label">LoanNumber</label>
            <input type="number" class="form-control" asp-for="LoanNumber" />
        </div>

        <div class="mt-3">
            <label class="form-label">Interest</label>
            <input type="number" class="form-control" asp-for="Interest" />
        </div>

        <div class="mt-3">
            <label class="form-label">AmountTaken</label>
            <input type="number" class="form-control" asp-for="AmountTaken" />
        </div>

        <div class="mt-3">
            <label class="form-label">PaidOff</label>
            <input type="number" class="form-control" asp-for="PaidOff" />
        </div>

        <div class="mt-3">
            <label class="form-label">BranchName</label>
            <input type="text" class="form-control" asp-for="BranchName" />
        </div>
        <br />
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-danger mt-1" asp-action="Delete" asp-controller="LoanTable">Delete</button>
        </div>
    </form>
}

